@use "colors";

.link-card {
  list-style: none;
  display: flex;
  padding: 1px;
  background-color: #23262d;
  border-radius: 1.6rem;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  transition: 0.3s ease-in-out;

  &:hover {
    filter: brightness(1.4);

    a {
      text-decoration: none;
    }
  }

  a {
    width: 100%;
    min-height: 11rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    opacity: 0.8;
  }

  p {
    color: colors.$color-light;
  }

  .left {
    width: 100%;
    padding: 1rem;
    padding-top: 0;
  }

  .right {
    width: 30%;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
  }
}

.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  padding: 0;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;

  .date {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    text-wrap: nowrap;
  }
}

@media screen and (max-width: 636px) {
  .link-card {
    h3 {
      font-size: 1.5rem;
      margin-top: 0.5rem;
      line-height: 2rem;
    }

    .left {
      width: 100%;
    }

    .right {
      display: none;
    }

    p {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  .footer {
    flex-direction: column;
  }
}
