@use "sass:color";
@use "colors";
@use "cards";
@use "buttons";
@use "banners";

/* Color Variables */ /* Global Styles */
body {
  background-color: colors.$color-dark;
  color: colors.$color-light;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 0.5rem;
  max-width: 800px;
  margin: auto;
}

.content {
  min-height: calc(100vh - 20rem);
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: colors.$color-secondary;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5,
h6 {
  font-size: 1.25rem;
}

/* Paragraphs */
p {
  margin-bottom: 1rem;
}

/* Links */
a {
  color: colors.$color-tertiary;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Lists */
ul,
ol {
  margin: 1rem 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}

mark {
  background-color: colors.$color-tertiary;
}

/* Blockquotes */
blockquote {
  margin: 1.5rem 0;
  padding-left: 1.5rem;
  border-left: 4px solid colors.$color-tertiary;
  color: colors.$color-light;
  font-style: italic;
}

/* Code */
pre,
code {
  font-family: "Courier New", Courier, monospace;
  color: colors.$color-tertiary;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 600;
}

code {
  background-color: color.adjust(colors.$color-dark, $lightness: 6%);
}

pre {
  code {
    background-color: transparent;
  }
}

kbd {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: white;
  font-size: 100%;
  font-family: monospace, sans-serif;
  vertical-align: baseline;
  background: transparent;
  border-color: #e6e6e6 #bebebe #bebebe #e6e6e6;
  border-style: solid;
  border-width: 1px 3px 4px;
  padding: 0 5px;
  background-color: #555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* Remove extra empty line bug */
code .line:empty {
  display: none;
}

pre {
  padding: 1rem;
  overflow-x: auto;
}

/* Images */
img {
  max-width: 100%;
  display: block;
  height: auto;
}

.img-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  max-width: 100%;

  img {
    width: auto; /* Let the image width scale based on content */
    max-width: 100%;
    flex: 1 1 50%; /* Share container space while maintaining ratio */
    object-fit: contain; /* Ensures no squishing */
  }
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

th,
td {
  border: 1px solid colors.$color-primary;
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: color.adjust(colors.$color-dark, $lightness: -2%);
}

.centered {
  width: 100%;
  text-align: center;
}

/* Gradient Background Examples */
.gradient-primary {
  background: linear-gradient(
    135deg,
    colors.$color-primary,
    colors.$color-secondary
  );
}

.gradient-secondary {
  background: linear-gradient(
    135deg,
    colors.$color-secondary,
    colors.$color-tertiary
  );
}

/* nav styles */
nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.hamburger {
  cursor: pointer;
  padding-top: 1rem;

  .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: colors.$color-light;
  }
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  display: none;
  margin: 0;

  a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background-color: colors.$color-primary;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0.1rem 2%;

  .logo {
    height: 64px;
  }
}

.expanded {
  display: unset;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;

  .tag {
    text-wrap: nowrap;
    padding: 0 0.5em;
    background-color: colors.$color-primary;
    border-radius: 0.5rem;
    transition: 0.3s ease-in-out;

    &:hover {
      filter: brightness(1.4);
    }
  }
}

.attributes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .attribute {
    padding: 0 0.5em;
    background-color: colors.$color-primary;
    border-radius: 0.5rem;
    transition: 0.3s ease-in-out;

    &:hover {
      filter: brightness(1.4);
    }
  }
}

@media screen and (min-width: 636px) {
  body {
    padding: 1rem;
  }

  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;

    a {
      display: inline-block;
      padding: 15px 20px;
    }
  }

  header {
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 10%;
  }

  .hamburger {
    display: none;
  }

  .img-row {
    flex-direction: row;

    img {
      max-width: 50%; /* Constrain width so two images fit side by side */
    }
  }

  .tags {
    gap: 1rem;
  }
}
