---
import Tag from "../../components/Tag.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { enabledPosts } from "../../utilities/getPosts.astro";

const tags = [
  ...new Set(enabledPosts.map((post) => post.frontmatter.tags).flat()),
];

const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  {
    tags?.length && (
      <div class="tags">
        {tags.map((tag) => (
          <Tag tag={tag} />
        ))}
      </div>
    )
  }
</BaseLayout>
