---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Andrew Flores | Home";
const pageDescription =
  "Hello! I'm a Software Engineer currently residing in Duluth, Minnesota. I write Angular applications by day and build upon my Homelab by night.";
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <main>
    <p>
      Hello! I'm a Software Engineer currently residing in Duluth, Minnesota. I
      write Angular applications by day and build upon my Homelab by night.
    </p>

    <p>
      There is an incredible amount of information available on the internet for
      any given topic and it can be challenging to cut through the noise to find
      the nuggets of gold. My goal is to present what I have learned in a
      concise and easy-to-follow format so that others can grasp the same
      concepts more efficiently than I did.
    </p>

    <br />
    <br />

    <div class="centered">
      <a class="btn-link" href="/blog">Start Reading!</a>
    </div>
  </main>
</BaseLayout>
