---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";

---

<header>
    <img class="logo" src="/logo.png" alt="Aflorzy logo" height="64" />

    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>
